    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #0e0000;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #db2020;
    }
